<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>To Do List</title>
  <!-- Bootstrap css -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- Google font -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
  <!-- font-awesome -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Favicon css -->

  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">

  <!-- CSS Style Sheet -->
  <link rel="stylesheet" href="css/styles.css">
</head>

<body class "aboutBody">



<div class="jumbotron jumbotron-fluid shadow">
  <div class="container">
    <h1 class="display-5">This is about Todo-list Web App</h1>
    <p class="display-6">Welcome to your todolist</p>
    <p class="display-6">Hit the + button to add a new List</p>
    <p class="display-6">Hit the left box button on your todoPage to delete a List </p>
  </div>
</div>

<div class="butt ">
  <a class="btn btn-primary bt" href="\signup" role="button">Sign Up</a>
  <a class="btn btn-primary bt" href="\signin" role="button">Sign In</a>
</div>



<%- include("footer") -%>
